.home-container{
    width: 100%;
    height: 80vh;
}
.card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 80px;
}
.card{
    width: 250px;
    height: 325px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.card img {
    width: 100%;
    height: 250px;
}
button{
    color: white;
    background: #222;
    border: none;
    border-radius: 8px;
}