/* Navbar linklari */
.nav-link {
  margin-top: 50px;
  margin-right: 25px;
  color: black;              /* oddiy holat */
  text-decoration: none;     /* underline yo‘q */
  transition: color 0.2s;    /* hover animatsiya */
  cursor: pointer;
}

/* Hover holati */
.nav-link:hover {
  color: grey;
}

/* Bosilganda */
.nav-link:active {
  color: darkgrey;
}

/* H3 ichida bo‘lgani uchun */
.nav-link h3 {
  font-weight: 400;
}