.nav-container{
    width: 100%;
    height: 80px;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-decoration:none;
    font-size: 20px;
}